<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Dependent Class -->
	<bean id="dt" class="java.util.Date"></bean>
	<!-- Target Class -->
	<bean id="wmg"
		class="com.sstech.spring.core.bs.beans.WishMessageGenerator"
		scope="singleton">
		<property name="date" ref="dt" />
	</bean>

	<bean id="printer" class="com.sstech.spring.core.bs.beans.Printer"
		scope="prototype" factory-method="getInstance"/>

</beans>
